exclude docs/*
exclude tests/*
exclude install/*
include restructuredpython/restructuredpython.py
include restructuredpython/lib/io32.dll
include restructuredpython/lib/io64.dll
include restructuredpython/lib/io.so
include restructuredpython/lib/io.dylib
recursive-include restructuredpython/predefined *
recursive-include restructuredpython/lib *
recursive-include restructuredpython/include *


